/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

body {
	line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: normal;
}

ol, ul {
	list-style: none;
}

blockquote {
	quotes: none;
}

blockquote:before, blockquote:after {
	content: '';
	content: none;
}

del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a img {
	border: none;
}

/* =Layout
-------------------------------------------------------------- */
html, body {
    height: 100%;
}

body {
	text-align:center;
}

#wrapperOuter {
    width: 100%;
    min-width: 960px;
    min-height: 100%;
    text-align: left;
}

* html #wrapperOuter {
    width: 100%; /* fallback value */
    width: expression(document.body.clientWidth < 960 ? "960px" : document.body.clientWidth); /*ie < 7 hack for min-width */
    height: 100%;
}

#wrapperInner {
    position: relative;
    min-height: 100%;
}

* html #wrapperInner {
    height: 100%;
}

#page {
	padding: 10px 10px 80px 10px;
}

#content {
    float: left;
    width: 74%;
    clear: both;
}

#sidebar {
    float: right;
	width:240px;
}

#footer {
	position:relative;
	width: 100%;
	min-width: 960px;
	height:60px;
	margin-top:-60px;
}

/* A CSS hack that only applies to IE -- specifies a different offset for the footer */
* html #footer {
/*margin-top: -7.5em;*/
}

/* =Fonts
-------------------------------------------------------------- */
body {
    /*font-family: Arial, Helvetica, Tahoma, sans-serif;*/
	font-family: Georgia, "Bitstream Charter", serif;
}

h3#commentsTitle,
h3#replyTitle,
#siteInfo,
#siteTitle,
.commentMeta,
.entryMeta,
.entryTitle,
.entryUtility,
#siteTitle,
.page-title,
.widgetTitle,
{
	font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}

input[type=submit] {
	font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}

pre {
	font-family: "Courier 10 Pitch", Courier, monospace;
}

code {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

/* =Structure
-------------------------------------------------------------- */
.clearer {
	display: block;
	clear: both;
}

/* =Global Elements
-------------------------------------------------------------- */
/* Text elements */
p {
	margin-bottom: 18px;
}

strong {
	font-weight: bold;
}

cite, em, i {
	font-style: italic;
}

big {
	font-size: 131.25%;
}

.hidden {
	display:none;
}

/* =Header
-------------------------------------------------------------- */
#header {
    height: 89px;
	padding:0 10px 0 10px;

}

#siteTitle {
	width: 281px;
    height: 89px;
	float:left;
}

#siteTitle span {
	display:none;
}

#siteTitle a {
	display:block;
	width:281px;
	height:89px;
}

#siteTitle a:hover {
	text-decoration:none;
}

#siteDescription {
	clear: right;
	float: right;
	margin: 20px 0 18px 0;
	width: 450px;
	font-style: italic;
}

/* =Navigation
-------------------------------------------------------------- */
#navigation {
	float:right;
}

#navigation ul li {
    float: left; /* for IE*/
    margin-left: 5px;
}

#navigation ul li a {
    display: block;
    float: left;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-top: none;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

#navigation ul li a:hover,
#navigation ul li.active a {
    padding-bottom: 8px;
}

/* =Location
-------------------------------------------------------------- */
#location {
	height:30px;
	line-height:30px;
	padding: 0 10px 0 10px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    font-size: 0.8em;
    font-variant: small-caps; /*font-weight : bold;*/
}

#breadcrumbs {
	float:left;
}

#loginContainer {
	float:right;
}

/* =Content
-------------------------------------------------------------- */
#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
	line-height: 1.5em;
	margin: 0 0 20px 0;
}

.pagetitle {
	color: #000;
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 36px 0;
}
.pageTitle span {
	color: #333;
	font-size: 16px;
	font-style: italic;
	font-weight: normal;
}
.pageTitle a:link,
.pageTitle a:visited {
	color: #888;
	text-decoration: none;
}
.pageTitle a:active,
.pageTitle a:hover {
	color: #ff4b33;
}

#content .entryTitle {
	color: #000;
	font-size: 21px;
	font-weight: bold;
	line-height: 1.3em;
	margin-bottom: 0;
}
.entryTitle a:link,
.entryTitle a:visited {
	color: #000;
	text-decoration: none;
}
.entryTitle a:active,
.entryTitle a:hover {
	color: #ff4b33;
}
.entryMeta {
	color: #888;
	font-size: 12px;
}
.entryMeta abbr,
.entryUtility abbr {
	border: none;
}
.entryMeta abbr:hover,
.entryUtility abbr:hover {
	border-bottom: 1px dotted #666;
}
.entryContent,
.entrySummary {
	clear: both;
	padding: 12px 0 0 0;
}
#content .entrySummary p:last-child {
	margin-bottom: 12px;
}

/* =Comments
-------------------------------------------------------------- */
#comments {
	clear: both;
}
#comments .navigation {
	padding: 0 0 18px 0;
}
h3#commentsTitle,
h3#replyTitle {
	color: #000;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 0;
}
h3#commentsTitle {
	padding: 24px 0;
}
.commentList {
	list-style: none;
	margin: 0;
}
.commentList li.comment {
	border-bottom: 1px solid #e7e7e7;
	line-height: 24px;
	margin: 0 0 24px 0;
	padding: 0 0 0 56px;
	position: relative;
}
.commentList li:last-child {
	border-bottom: none;
	margin-bottom: 0;
}
#comments .commentBody ul,
#comments .commentBody ol {
	margin-bottom: 18px;
}
#comments .commentBody p:last-child {
	margin-bottom: 6px;
}
#comments .commentBody blockquote p:last-child {
	margin-bottom: 24px;
}
.commentList ol {
	list-style: decimal;
}
.commentList .avatar {
	position: absolute;
	top: 4px;
	left: 4px;
}
.commentAuthor {
}
.commentAuthor cite {
	color: #000;
	font-style: normal;
	font-weight: bold;
}
.commentAuthor .says {
	font-style: italic;
}
.commentMeta {
	font-size: 12px;
	margin: 0 0 18px 0;
}
.commentMeta a:link,
.commentMeta a:visited {
	color: #888;
	text-decoration: none;
}
.commentMeta a:active,
.commentMeta a:hover {
	color: #ff4b33;
}
.commentList .even {
	background-color: rgb(227, 231, 240);
}

.commentList .odd {
	background-color: rgb(227, 231, 240);
}
.commentList .bypostauthor {
}
.reply {
	font-size: 12px;
	padding: 0 0 24px 0;
}
.reply a,
a.commentEditLink {
	color: #888;
}
.reply a:hover,
a.commentEditLink:hover {
	color: #ff4b33;
}
.commentList .children {
	list-style: none;
	margin: 0;
}
.commentList .children li {
	border: none;
	margin: 0;
}
.nopassword,
.nocomments {
	display: none;
}
#comments .pingback {
	border-bottom: 1px solid #e7e7e7;
	margin-bottom: 18px;
	padding-bottom: 18px;
}
.commentList li.comment+li.pingback {
	margin-top: -6px;
}
#comments .pingback p {
	color: #888;
	display: block;
	font-size: 12px;
	line-height: 18px;
	margin: 0;
}
#comments .pingback .url {
	font-size: 13px;
	font-style: italic;
}

/* Comments form */
input[type=submit] {
	color: #333;
}
#respond {
	border-top: 1px solid #e7e7e7;
	margin: 24px 0;
	overflow: hidden;
	position: relative;
}
#respond p {
	margin: 0;
}
#respond .commentNotes {
	margin-bottom: 1em;
}
.formAllowedTags {
	line-height: 1em;
}
.children #respond {
	margin: 0 48px 0 0;
}
h3#replyTitle {
	margin: 18px 0;
}
#commentsList #respond {
	margin: 0 0 18px 0;
}
#commentsList ul #respond {
	margin: 0;
}
#cancelCommentReplyLink {
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
}
#respond .required {
	color: #ff4b33;
	font-weight: bold;
}
#respond label {
	color: #888;
	font-size: 12px;
}
#respond input {
	margin: 0 0 9px;
	width: 98%;
}
#respond textarea {
	width: 98%;
}
#respond .formAllowedTags {
	color: #888;
	font-size: 12px;
	line-height: 18px;
}
#respond .formAllowedTags code {
	font-size: 11px;
}
#respond .formSubmit {
	margin: 12px 0;
}
#respond .formSubmit input {
	font-size: 14px;
	width: auto;
}

/* =Widget Areas
-------------------------------------------------------------- */

/* =Footer
-------------------------------------------------------------- */
/*
#footer p {
    margin-top: 1.5em;
}
*/
#footer {
	/*line-height:60px;*/
	/*padding:0 10px 0 10px;*/
}

#footer img {
	width:127px;
	height:25px;
	position:absolute;
	top:17.5px;
	left:10px;
}

#footer ul {
	vertical-align:middle;
}


#footer ul li {
    display: inline;
    border-left: 1px solid;
	/*padding: 0 1em 0 1em;*/

}

#footer ul li.first {
    border-left: 0 none transparent;
}


/* =Mobile Safari ( iPad, iPhone and iPod Touch )
-------------------------------------------------------------- */

/* =Print Style
-------------------------------------------------------------- */
